<ul>
  <li><a href= "#">Cadastro</a>
    <ul>
      <li><%= link_to "Tabelas", tabelas_path %></li>
      <li><%= link_to "Protéticos", proteticos_path %></li>
    </ul>
  </li>
  <li><a href="#">Paciente</a>
    <ul>
      <li><%= link_to "Novo paciente" , "#" %></li>
    </ul>
  </li>
</ul>